# Портативное окружение: install.bat скачивает его из GitHub Releases (system.7z.*)
/system/
/_download/
*.part

# Личные обучения dreambooth в репозиторий не входят
/webui/models/dreambooth/

# Кэши, которые Forge пересоздаёт сам
__pycache__/
/webui/cache/
/webui/tmp/

# Служебное
/.tmp.driveupload/
/.claude/

# Модели: download-models.bat скачивает их по setup/models.json
# (список генерируется вместе с манифестом)
/webui/extensions/forge2_cleaner/models/big-lama.safetensors
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Face_Detection/shape_predictor_68_face_landmarks.dat
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Face_Enhancement/checkpoints/FaceSR_512/latest_net_G.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Face_Enhancement/checkpoints/Setting_9_epoch_100/latest_net_G.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/detection/FT_Epoch_latest.pt
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_A_quality/latest_net_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_A_quality/latest_net_G.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_A_quality/latest_net_featD.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_A_quality/latest_optimizer_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_A_quality/latest_optimizer_G.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_A_quality/latest_optimizer_featD.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_B_quality/latest_net_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_B_quality/latest_net_G.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_B_quality/latest_optimizer_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_B_quality/latest_optimizer_G.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_B_scratch/latest_net_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_B_scratch/latest_net_G.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_B_scratch/latest_optimizer_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/VAE_B_scratch/latest_optimizer_G.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_Patch_Attention/latest_net_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_Patch_Attention/latest_net_mapping_net.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_quality/latest_net_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_quality/latest_net_mapping_net.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_quality/latest_optimizer_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_quality/latest_optimizer_mapping_net.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_scratch/latest_net_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_scratch/latest_net_mapping_net.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_scratch/latest_optimizer_D.pth
/webui/extensions/sd-webui-old-photo-restoration/lib_bopb2l/Global/checkpoints/restoration/mapping_scratch/latest_optimizer_mapping_net.pth
/webui/models/BLIP/model_base_caption_capfilt_large.pth
/webui/models/Codeformer/codeformer-v0.1.0.pth
/webui/models/ControlNet/control_v11p_sd15_inpaint.pth
/webui/models/ControlNet/illustriousXLCanny_v10.safetensors
/webui/models/ControlNet/illustriousXLDepth_v20.safetensors
/webui/models/ControlNet/illustriousXLLineart_v10 (1).safetensors
/webui/models/ControlNet/illustriousXLLineart_v10.safetensors
/webui/models/ControlNet/illustriousXLShuffle_v10.safetensors
/webui/models/ControlNet/illustriousXLSoftedge_v10.safetensors
/webui/models/ControlNet/illustriousXLTile_v10.safetensors
/webui/models/ControlNet/illustriousXL_v10.safetensors
/webui/models/ControlNet/illustriousxlV01_inpainting.safetensors
/webui/models/ControlNet/noobaiXLControlnet_epsTileFP16.safetensors
/webui/models/ESRGAN/4x-AnimeSharp.pth
/webui/models/ESRGAN/4x-UltraSharp.pth
/webui/models/ESRGAN/4x_NMKD-Siax_200k.pth
/webui/models/ESRGAN/ESRGAN_4x.pth
/webui/models/GFPGAN/GFPGANv1.4.pth
/webui/models/GFPGAN/detection_Resnet50_Final.pth
/webui/models/GFPGAN/parsing_parsenet.pth
/webui/models/LDSR/model.ckpt
/webui/models/RealESRGAN/RealESRGAN_x4plus.pth
/webui/models/RealESRGAN/RealESRGAN_x4plus_anime_6B.pth
/webui/models/ScuNET/ScuNET.pth
/webui/models/Stable-diffusion/KLEIN/flux-2-klein-9b-fp8.safetensors
/webui/models/Stable-diffusion/KLEIN/moodyDesireMix_v30.safetensors
/webui/models/SwinIR/SwinIR_4x.pth
/webui/models/VAE/flux2-vae.safetensors
/webui/models/VAE/illustriousXLV20_v10.safetensors
/webui/models/adetailer/face_landmarker.task
/webui/models/adetailer/face_yolov8n.pt
/webui/models/adetailer/face_yolov8s.pt
/webui/models/adetailer/hand_yolov8n.pt
/webui/models/adetailer/hand_yolov8s.pt
/webui/models/adetailer/mediapipe_face_full.tflite
/webui/models/adetailer/person_yolov8n-seg.pt
/webui/models/adetailer/person_yolov8s-seg.pt
/webui/models/adetailer/yolov8x-worldv2.pt
/webui/models/insightface/inswapper_128.onnx
/webui/models/insightface/models/buffalo_l/1k3d68.onnx
/webui/models/insightface/models/buffalo_l/2d106det.onnx
/webui/models/insightface/models/buffalo_l/det_10g.onnx
/webui/models/insightface/models/buffalo_l/genderage.onnx
/webui/models/insightface/models/buffalo_l/w600k_r50.onnx
/webui/models/interrogators/models--SmilingWolf--wd-v1-4-moat-tagger-v2/snapshots/8452cddf280b952281b6e102411c50e981cb2908/model.onnx
/webui/models/interrogators/models--deepghs--ml-danbooru-onnx/snapshots/60009d1a5989970203364a2b27c887e0fa2747f2/TResnet-D-FLq_ema_6-30000.onnx
/webui/models/midas/dpt_hybrid-midas-501f0c75.pt
/webui/models/text_encoder/qwen_3_8b.safetensors
/webui/models/torch_deepdanbooru/model-resnet_custom_v3.pt
/webui/models/u2net/isnet-anime.onnx
/webui/models/u2net/isnet-general-use.onnx
/webui/models/u2net/silueta.onnx
/webui/models/u2net/u2net.onnx
/webui/models/u2net/u2net_human_seg.onnx

# Локальный ключ Civitai (download-models.bat)
/civitai_token.txt
